#!/bin/bash
#copy as "system.sh" and tweak for your system

ARCH=$(uname -m)

#Ubuntu Maverick:
#gcc-4.4
#sudo apt-get install gcc-4.4-arm-linux-gnueabi
#or gcc-4.5
#sudo apt-get install gcc-4.5-arm-linux-gnueabi

#Use CodeSourcery: http://www.codesourcery.com/sgpp/lite/arm/portal/subscription?@template=lite (GNU/Linux)
#Just download and extract...

if test "-$ARCH-" = "-armv7l-"
then
 #using native gcc
 CC=
else
 #ubuntu:
 #CC=arm-linux-gnueabi-
fi

#Allow the usage of git to help create kernel patches
#GIT_MODE=1

#Use with Caution, mount locations can change... This define's SD/MMC card mount location for load_uImage.sh script.
#MMC=/dev/sde

#Old Stuff, Such as: Debian Lenny, Ubuntu Jaunty, Ubuntu Karmic need this:
#NO_DEVTMPS=1
