#!/bin/bash
#copy as "system.sh" and tweak for your system

ARCH=$(uname -m)

#Recommended:
#Use Angstrom's Cross Compiler: http://www.angstrom-distribution.org/building-angstrom (select beagleboard for machine)
#Follow all steps upto Step 3, "MACHINE=beagleboard bitbake base-image" Should be enough
#
#Otherwise
#Use CodeSourcery: http://www.codesourcery.com/sgpp/lite/arm/portal/subscription?@template=lite (GNU/Linux)
#Just download and extract...

if test "-$ARCH-" = "-armv7l-"
then
 #using native gcc
 CC=
else
 #using Cross Compiler
 CC=/OE/angstrom-dev/cross/armv7a/bin/arm-angstrom-linux-gnueabi-
fi

#Allow the usage of git to help create kernel patches
#GIT_MODE=1

#Use with Caution, mount locations can change... This define's SD/MMC card mount location for load_uImage.sh script.
#MMC=/dev/sde

#For lucid & Maverick we need a specific defconfig not compatible with squeeze/jaunty/karmic..
#IS_LUCID=1
